<section class="ahorcado-container">
    <div class="container juego-contenedor">
      <p class="intentos">Intentos {{ intentos }}/6</p>
      <div class="contenedor-general row">
        <div class="col">
          <div>
            <img class="img-horca" src="/assets/ahorcado/horca_{{ image }}.png" alt="horca" />
          </div>
        </div>
        <div class="col contenedor-botones" style="margin-top:10%">
          <div class="row palabra-adivinar">
            <div class="col-md-12 text-center" style="background-color: #3d4068;display: block;border-radius: 45px;">
              <div *ngFor="let hyphen of seleccion" class="d-inline">
                <h1 class="d-inline p-2">{{ hyphen }}</h1>
              </div>
            </div>
            <span class="puntaje">(Puntaje: {{ score }})</span>
          </div>
          <div class="container">
            <button *ngFor="let letter of buttonLetters; let i=index" id="boton{{i}}" class="btn-letra"
              (click)="sendLetter(letter, i)">
              {{ letter }}
            </button>
          </div>      
          <div *ngIf="!juegoActivado">
            <button class="btn-reiniciar" (click)="restartGame()">
              REINICIAR JUEGO
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>