<section class="container" style="display: flex; height: 100%;width: 100%; position: fixed;">

    <div class="sections">
      <div class="card">
        <img src="/assets/ahorcado/ahorcado-card.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">
            Encuentra la palabra oculta letra por letra antes de que se complete el ahorcado. Por cada letra erronea
            el ahorcado ira sumando partes y perderás si se completa.
          </p>
          <a [routerLink]="['/juegos/ahorcado']" class="btn btn-primary btn-juegos">JUGAR</a>
        </div>
      </div>
  
      <div class="card">
        <img src="/assets/mayor-menor/mayor-menor-card.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Mayor o Menor</h5>
          <p class="card-text">
            En este juego deberás adivinar si la siguiente carta es mayor o menor que la que se te muestra en pantalla.
            En este juego se pondrá a prueba tu intuición, lógica y suerte.
          </p>
          <a [routerLink]="['/juegos/mayor-menor']" class="btn btn-primary btn-juegos">JUGAR</a>
        </div>
      </div>
  
      <div class="card">
        <img src="/assets/preguntados/preguntados-card.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Preguntados</h5>
          <p class="card-text">
            Evalúa tus conocimientos acerca de las banderas del mundo y sumérgete en un desafío
            intelectual que te permitirá ampliar tu conocimiento mientras juegas.
          </p>
          <a [routerLink]="['/juegos/preguntados']" class="btn btn-primary btn-juegos">JUGAR</a>
        </div>
      </div>
  
      <div class="card">
        <img src="/assets/rompecabezas/rompecabezas-card.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Rompecabezas</h5>
          <p class="card-text">
            El objetivo principal de estos rompecabezas es completar la imagen utilizando todas
            las piezas proporcionadas, lo que puede requerir habilidades de observación, lógica y paciencia.
          </p>
          <a [routerLink]="['/juegos/puzzle']" class="btn btn-primary btn-juegos">JUGAR</a>
        </div>
      </div>
    </div>
  </section>