<div class="background-image">
    <div class="container">
        <div class="card text-center">
            <img class="card-img-top" src="../../../assets/backgrounds/welcome-component-background.gif">
            <div class="card-body">
                <h5 class="card-title">Bienvenido.</h5>
                <p class="card-text">En esta página encontraras entretenidos videojuegos para pasar el rato.<br>
                    ¡Registrate para comenzar!
                </p>
            </div>
        </div>
    </div>
</div>