<div class="background-image">
    <div class="container">
        <div class="card text-center flip-in-hor-top" >
            <img class="card-img-top mx-auto" [src]="perfil?.avatar_url">
            <div class="card-body">
                <h4 class="card-title">{{perfil?.name}}</h4>
                <p class="card-subtitle">{{perfil?.location}}</p>
                <p class="card-text">{{perfil?.bio}}</p>
                <p><a class="link-offset-2 link-underline link-underline-opacity-0 link" [href]="perfil?.html_url">Github</a></p>
                <br>
                <p class="card-title">Titulo del juego</p>
                <p class="card-text">El juego <span>Titulo del juego</span> Lorem ipsum dolor sit amet, consec
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod te.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod te Lorem ipsum dolor sit amet, 
                    <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod teLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod te
                </p>
            </div>
        </div>
    </div>
</div>