<div class="background-image">
    <div class="container">
        <div class="card text-center flip-in-hor-top" >
            <h4 class="card-title">{{perfil?.name}}</h4>
            <img class="card-img-top mx-auto" [src]="perfil?.avatar_url">
            <div class="card-body">
                <p class="card-subtitle">{{perfil?.location}}</p>
                <p class="card-text">{{perfil?.bio}}</p>
                <p class="card-subtitle">Juego propio: Puzzle</p>
                <p class="card-text">El juego consiste en un clasico rompecabezas, que consiste en juntar las piezas de forma correcta para formar una imagen.</p>
                <a class="github-button" href="{{perfil?.html_url}}" target="_blank">
                    <i class="fab fa-github"></i> Visitar GitHub
                </a>
            </div>
        </div>
    </div>
</div>